/* Seletor universal, todas as tags ficam assim */
*{
    padding: 20px;
}

body {
    background-color: cornsilk;
}

p {
    color: rgb(31, 31, 31);
}

.center {
    text-align: center;
}

.fonte-30 {
    font-size: 30px;
}

/* Ids e classes não podem começar com numeros */
#teste1 {
    background-color: aqua;
}

/* Seletores com propriedades iguais podem ser definidos juntos com a vírgula */
h1, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.exemplo-back {
    height: 300px;
    background-color: blue;
    background-image: url("../img/pexels-cottonbro-studio-9667518.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* propriedade geral para os parâmetros de background numa linha só*/
.exemplo-back-2 {
    color: white;
    height: 100px;
    background: gray url("../img/pexels-cottonbro-studio-9667518.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 100px;

}

h1 {
    padding: 0%;
    border-radius: 20px;
    background:rgb(32, 76, 170);
    /* margin-bottom: 50px; */
    /* Propriedade margin geral, começa do topo e vai sentido horário */
    margin: 20px 0 60px 5%;
    width: fit-content;
    /* Mesma coisa do margin, com um só valor, ele faz pra todos os lados */
    padding: 20px;
}

.botao {
    margin-left: 33%;
    background: green;
    color: white;
    padding:20px 35px 25px 35px;
    border-bottom: solid rgb(66, 61, 61) 5px;
    border-right: solid rgb(66, 61, 61) 5px;
    border-radius: 20px;
    text-decoration: none;
}

.botao:hover{
    background: rgb(25, 25, 138);
}

.teste {
    max-width: 800px;
    height: 150x;
    background: aquamarine;
}